body
{

}

#heading{
	text-align: center;
	
	size: 500%;
	
}
#namebox{
	text-align: center;
	
	background-color: white ;
}

#link{
	text-decoration:none;
	margin: 25px;
	padding: 20px;
	border-radius:20px;
	background-color: white;
	display:block;
	text-align:center;
	
}



* {
  box-sizing: border-box;
}

#BoxLinks{

	text-decoration:none;
	background-color: black;
	width: 33%;    
	height: 500px;
	float:left;
}

#photobox1{
	
	background-color: black;
	width: 33%;    
	height: 500px;
	float:left;
}
#photobox2{
	
	background-color: black;
	width: 33%;    
	height: 500px;
	float:left;
}


img{
display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width:90%;
  height:90%;
 

}

#BoxLinks:hover{
	    
	background-color: white;
	transform: scale(1.075,1.075);
}
#photobox1:hover{
	   
	background-color: white;
	transform: scale(1.075,1.075);
}
#photobox2:hover{
	
	background-color: white;
	transform: scale(1.075,1.075);
